html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body
{
    font-family: Helvetica, Sans-Serif, serif;
    color: #444444;
    font-size: 14pt;
    background-color: #FAFAFA;
}

#content {
    position:relative;
}

#storage {
    position:absolute;
    overflow-y: scroll;
    top:0;
    right:0;
    border: 1px solid #dddddd;
    width:40%;
}

#map {
    position:absolute;
    top:0;
    left:0;
    width: 60%;
    height: 700px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

input[type="checkbox"] {
    transform:scale(3.0);
    opacity:0.9;
    cursor:pointer;
}